/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #232829;
    --color01: #a78181;
    --color02: #8aad8a;
    --color03: #b3b393;
    --color04: #9eaeb8;
    --color05: #c0a5c0;
    --color06: #adc0c7;
    --color07: #d6dcda;
    --color08: #788387;
    --color09: #ceb6b6;
    --color10: #bdd3bd;
    --color11: #d5d5c1;
    --color12: #c6d0d6;
    --color13: #dac8da;
    --color14: #cbd8dd;
    --color15: #d6dcd9;
}
